<% provide :title, t(".title") %>
<div class="center jumbotron">
<h1><%= t ".h1" %></h1>
<p>
  <%= t ".p1" %>
  <%= link_to t(".link_to_text"), href="https://www.railstutorial.org/" %>
  <%= t ".p2" %>
</p>
<%= link_to t(".link_signup"), "#", class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("cat.jpg", alt: t(".alt"), width: "500px"), "https://rubyonrails.org/" %>
